
<%= stylesheet_link_tag 'books', media: 'all', 'data-turbolinks-track': 'reload' %>

<%# TEMPLATE FROM : https://jsfiddle.net/StartBootstrap/q4khv018/ (Copyright) %>
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#"> <%= image_tag 'dans'%>Dan's Book Shop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#books">Books by genres</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="font-weight-light">All books from the entire universe in just one place</h1>
        <p class="lead">"A book is always better!"</p>
      </div>
    </div>
  </div>
</header>

<!-- Page Content -->
<section class="py-5">
  <div class="container">

 
<h1 > List of books </h1>

<div class="container">

<div id="#books" class="card-deck">
    <% @books.each do |book| %>
        <img class="card-img-top" src= "<%=book.url%>" alt="Card image"> 
        <div class="card-body">
             <h5 class="card-title"> <%= book.name%> </h5>
            <p class="card-text"> <%= book.description%></p>
       </div>
    <% end %>
</div>
</div>
    </div>
</section>



  