
<%= stylesheet_link_tag 'books', media: 'all', 'data-turbolinks-track': 'reload' %>

<%# TEMPLATE FROM : https://jsfiddle.net/StartBootstrap/q4khv018/ (Copyright) %>
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#"> <%= image_tag 'dans'%>Dan's Book Shop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#books">Search for books by genre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="font-weight-light">All books from the entire universe in just one place</h1>
        <p class="lead">"A book is always better!"</p>
      </div>
    </div>
  </div>
</header>

<!-- Page Content -->
<section class="py-5">
  <div class="container" >

 
<h1 > List of books </h1>


<div id="#books" class="card-deck">

    <% @books.each do |book| %>
        <img class="card-img-top" src= "<%=book.url%>" alt="Card image"> 
        <div class="card-body">
             <h5 class="card-title"> <%= book.name%> </h5>
            <p class="card-text"> by <i><%=book.author%> </i><strong>Description: </strong> <%= book.description%> <br> <strong>Genre: <%=book.genre%></strong> </p>
            <p class="card-text"><small class="text-muted">Price:<%=book.price%> </small></p>
       </div>
    <% end %>


</div>
    </div>
</section>

<!-- Footer -->
<footer class="page-footer font-small teal pt-4">

  <!-- Footer Text -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase font-weight-bold">Books as history</h5>
        <p>People usually think of books in terms of their contents, their texts, with less thought for books as artefacts.
         In fact books may possess all kinds of potentially interesting qualities beyond their texts, as designed or artistic objects, 
         or because they have unique properties deriving from the ways they have been printed, bound, annotated, beautified or defaced.</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-6 mb-md-0 mb-3">

        <!-- Content -->
        <h5 class="text-uppercase font-weight-bold">The importance of books</h5>
        <p>Books play a significant role in our life. They say that “When you open a book, you open a new world”. 
        I believe that everyone would agree with this statement as books have become inevitable to mankind.
         For the majority of people, books are part of their everyday life.  
        A book is like a best friend who will never walk away from you.</p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Text -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Bicu Daniel:
    <a href="https://github.com/daniel-bicu/BookShop-/tree/master/BookShop" target="_blank"> Github</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

  